import(Rcpp)
importFrom("stats", "dist")
importFrom("utils", "tail")
useDynLib(ecp)

export("e.agglo")
export("e.divisive")
export("getBetween")
export("getWithin")
export("e.cp3o")
export("ks.cp3o")
